/*  Extras */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 1em;
  }
  
  h1 {
    font-size: 3.375em;
  }
  
  h2 {
    font-size: 2.25em;
  }
  
  h3 {
    font-size: 2.25em;
  }
  
  body {
    background: whitesmoke;
  }
  
  /* Start */

  .quizOne{
    background-color: red;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
  }

  .next{
      background-color: blue;
      width: 300px;
      margin: 20px 0;
      padding: 10px;
      cursor: pointer;
      display: none;
  }

  .passed{
    display: none;
  }

  .fail{
    display: none;
  }